
/* adding custom font family  */
@font-face {
    font-family: gore;
    src: url(../fonts/gore.woff);
  }

  /* removing default css on all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
   


}
body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color: rgb(236, 228, 228);
    overflow-x: hidden;
    width: 100vw;


}

nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;

    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100vw;
    /* Full width */
    z-index: 100;
    /* nav bar appears on top of everything */

}

.logo a {
    font-family: 'gore';
    font-size: 80px;
    color: rgb(236, 228, 228);
    letter-spacing: 5px;

}



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;

}

.nav-links a {
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(236, 228, 228);

}

.nav-links a:hover {
    color: orange;  
}

a {
    color: rgb(236, 228, 228);

}

a:hover {
    color: orange;
}

.news {
    padding: 100px;
    margin-top: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;



}
.news-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: rgb(236, 228, 228);
    border: solid rgb(236, 228, 228);
    border-width: 5px 0;
    font-weight: bold;
    font-size: 2.5rem;
    background-image: url("../img/bkg-content-black_209fe757.png");
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% 100%;
}

.awards {
    background: url(../img/d8ty7hq-772776fd-4f6c-4870-8f97-2a8c836884d9.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;




}
.award-header {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 70px;
    background-image: url(../img/bkg-content-black_209fe757.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;


}
.award-header p{
    font-size: 4rem;
}
iframe {
    margin: 50px;
}
.awards-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 70px;


}

.award-item {


    font-size: 2rem;
    color: rgb(236, 228, 228);
    text-align: center;
    line-height: 1.5;
    background: url(../img/bkg-content-black_209fe757.png) no-repeat;
    background-size: 100% 100%;
    



}

.award-title {
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    text-decoration: underline;






}

.download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.download-header {
    background-image: url(../img/bkg-content-black_209fe757.png);
    background-size: 100% 100%;
    margin: 70px;
    

}
.download-header p {
    font-size:6.25rem;
    text-align: center;
}

.download-content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;


}

.download-img1 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.download-img2{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.download-img1:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.download-img2:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}




.CONTACT{
    margin: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.footer {
    height: 8vh;

}

.footer-note{
   font-weight: bold;
   color: rgb(236, 228, 228);
   padding: 30px;
   margin: 30px;

}

/* checkbox and button not visible on big screen  */
#checkbox{
    display: none;
}
.check-btn{
    display:none;
    
}
.check-btn img{
    height: 5vh;
    width: auto;
    margin: 0;
    
}
.download-button{
    height: 500px;
    width: auto;
}


/* for phones  */
@media screen and (max-width:900px){
    nav{
        flex-direction: row-reverse;
    }

    
    body{
        overflow-x: hidden;
        background-position:50%;
    }
    .check-btn{
        display:block;
        
    }
    .nav-links{
        
       
        position:fixed;
       right:-100vw;
        top:15vh;
        flex-direction:column;
        width:50%;
        height:80vh;
        background-image: url(../img/bkg-content-black_209fe757.png);
        background-size: 100% 100%;
        text-align: center;
        transition: all 0.5s;
    }
    #checkbox:checked ~ .nav-links{
        right:0vw;
        
        
    }
    .nav-links li{
        margin:2rem;
    }
   
    .news-content {
        font-size: 1rem;
    }
    .award-header p {
        font-size: 2rem;
    }
    .awards-content{
        flex-wrap: wrap;
        
    }
    .award-item p{
        font-size: 1.5rem ;
    }
    .download-header p{
        font-size: 3rem;
    }
    .download-content{
        flex-wrap: wrap;
    }
    .footer-img img{
        width:100%;
    }
    .footer-note p{
        font-size: 0.9rem;
    }
    iframe{
        width: 390px;
        height: 390px;
    }
    .download-button{
        width: 390px;
        height: auto;
    }
    

    
}




